@{
    ViewData["Title"] = "Blog";
}

<div style="background: url(/blog-image.jpg) no-repeat center; height: 200px; background-size: cover;">
</div>

<div class="text-center">
    <h1 class="display-4">¡Bienvenido/a!</h1>
    <h2>Ésta sección de blog demuestra la resolución de links por la herramienta.</h2>
</div>

<div class="container">
    <h3>Lista de artículos:</h3>
    <ul>
        <li>
            <a asp-controller="Blog" asp-action="MySecondPost">Segundo artículo</a>
        </li>
        <li>
            <a asp-controller="Blog" asp-action="MyFirstPost">Primer artículo</a>
        </li>
    </ul>
</div>
