@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is a detailed blog page, with multiple blog posts!</h2>
    <img src="~/blog-image.jpg" />
</div>


<h3>Post list:</h3>
<ul>
    <li>
        <a asp-controller="Blog" asp-action="Post">Post 1</a>
    </li>
</ul>
