@{
    ViewData["Title"] = "Home Page";
}

<section title="header" style="background-color: lightgray">
    <div class="text-center">
        <h1 class="display-4">Welcome, I am a static .NET website!</h1>
    </div>
</section>

<section title="main" class="container">
    <div>
        <h3>Getting started:</h3>
        <br />
        <h5><a href="https://github.com/CamiloTerevinto/TerevintoSoftware.StaticSiteGenerator">Find us on GitHub</a> 
            (or take a look at our <a asp-controller="Blog" asp-action="Index">blog</a>!).</h5>
    </div>
</section>