@{
    ViewBag.RelativeUrl = "es/documentation";
    ViewBag.Title = "Documentación";
    ViewBag.Description = "Documentación de SSG.NET";
}

<section class="usage bg-light flex-column flex-sm-row flex-md-row">
    En proceso de traducción...
</section>