<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Static Site Generator | Terevinto Software</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" id="main-menu">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Static Site Generator</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Documentation" class="nav-link text-dark">Documentación</a>
                        </li>
                        <li class="nav-item ms-md-auto">
                            <a href="#" class="nav-link btn btn-primary text-white" id="changeLanguageBtn"><i class="bi-globe"></i> English/Inglés</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto text-white ">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="https://github.com/CamiloTerevinto/TerevintoSoftware.StaticSiteGenerator" class="text-white">GitHub</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item">Creado por <a href="https://www.camiloterevinto.com" class="text-white">Camilo Terevinto </a></li>
                    </ul>
                    <p class="text-white small mb-4 mb-lg-0">&copy; Camilo Terevinto 2022-2023. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
         
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

    <environment include="Development">
        <script src="~/js/site_dev.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
