@{
    var postDate = (DateTime)ViewData["PostDate"]!;
    var author = (string)ViewData["Author"]!;
    var previousPost = (string?)ViewData["PreviousPost"];
    var nextPost = (string?)ViewData["NextPost"];
}

<div>
    <b>Hi, I'm a Partial View!</b>
    <div>
        <strong>Post date:</strong> @postDate.ToShortDateString() | <strong>Author: </strong>@author
        <br />
        
        @if (nextPost != null)
        {
            <a asp-controller="Blog" asp-action="@nextPost">Next post</a>
        }
        else
        {
            <text>Next post</text>
        }
        |
        @if (previousPost != null)
        {
            <a asp-controller="Blog" asp-action="@previousPost">Previous post</a>
        }
        else
        {
            <text>Previous post</text>
        }
        
        <br />
        <a asp-controller="Blog" asp-action="Index">Back to the blog posts list</a>
    </div>
</div>