@{
    ViewData["Title"] = "My First post";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my blog!</h1>
    <h2>This is my very first blog post!</h2>

    <br />
    <h5>This entry is used to demonstrate that the tool supports even inner folders (Blog => Posts => MyFirstPost.cshtml)!</h5>
    <h6><a asp-controller="Blog" asp-action="Index">Back to the blog posts list</a></h6>
</div>
