@{
    ViewData["Title"] = "My First post";
    ViewData["PostDate"] = new DateTime(2022, 05, 31);
    ViewData["Author"] = "CT";
    ViewData["PreviousPost"] = null;
    ViewData["NextPost"] = "MySecondPost";
}

<div class="text-center">
    <h2>¡Éste es mi primer post!</h2>

    <br />
    <p>
        This entry is used to demonstrate that the
        <a href="https://github.com/CamiloTerevinto/TerevintoSoftware.StaticSiteGenerator">Static Site Generator</a> tool
        supports even inner folders (Blog => Posts => MyFirstPost.cshtml)!
    </p>

    <partial name="_PostStatsPartial.es.cshtml" />

</div>
