@{
    ViewData["Title"] = "My First post";
    ViewData["PostDate"] = new DateTime(2022, 05, 31);
    ViewData["Author"] = "CT";
    ViewData["PreviousPost"] = null;
    ViewData["NextPost"] = "MySecondPost";
}

<div class="text-center">
    <h2>¡Éste es mi primer artículo!</h2>

    <br />
    <p>
        Éste artículo fue creado para demostrar que la herramienta (<a href="https://github.com/CamiloTerevinto/TerevintoSoftware.StaticSiteGenerator">Static Site Generator</a>=
        soporta tener vistas en una herarquía profunda de carpetas (Blog => Posts => MyFirstPost.cshtml).
    </p>

    <partial name="_PostStatsPartial.es.cshtml" />

</div>
