@{
    ViewData["Title"] = "My First post";
    ViewData["PostDate"] = new DateTime(2022, 06, 01);
    ViewData["Author"] = "CT";
    ViewData["PreviousPost"] = "MyFirstPost";
    ViewData["NextPost"] = null;
}

<div class="text-center">
    <h2>This is my second blog post!</h2>

    <br />
    <p>
        This entry is used to demonstrate that the
        <a href="https://github.com/CamiloTerevinto/TerevintoSoftware.StaticSiteGenerator">Static Site Generator</a> tool
        can also support passing data to Partial Views!
    </p>

    <div class="alert alert-info">
        Hint: Compare the section below with the one of the first post.
    </div>

    <partial name="_PostStatsPartial.cshtml" />
</div>
