@{
    ViewData["Title"] = "My First post";
    ViewData["PostDate"] = new DateTime(2022, 06, 01);
    ViewData["Author"] = "CT";
    ViewData["PreviousPost"] = "MyFirstPost";
    ViewData["NextPost"] = null;
}

<div class="text-center">
    <h2>¡Éste es mi segundo artículo!</h2>

    <br />
    <p>
        Éste artículo fue creado para demostrar que la herramienta (<a href="https://github.com/CamiloTerevinto/TerevintoSoftware.StaticSiteGenerator">Static Site Generator</a>)
        también soporta pasarle datos a una vista parcial (Partial View).
    </p>
    
    <div class="alert alert-info">
        Pista: Compara la sección de abajo con la del primer artículo.
    </div>

    <partial name="_PostStatsPartial.es.cshtml" />
</div>
