@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is a very interesting blog post!</h2>
    <h3><a asp-controller="Blog" asp-action="Index">Back to the blog posts list</a></h3>
</div>
